body {
  padding: 20px 42px;
  font-family: 'Roboto', sans-serif;

}
.header {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #D42026
  }
  &__subtitle, &__name {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    color: #D42026
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  thead {
    color: #eee;
    tr {
      border-bottom: none;
    }
  }
  tr{
    border-bottom: 1px solid #D42026;
  }

  td {
    padding: 20px;
    text-align: left;
    img {
      width: 58px;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

  .table__character, .table__series {
    width: 25%;
  }

  .character, .series, .events {
    background-color: #D42026;
    padding: 10px;
  }


}

@media screen and (max-width: 720px) {
  .priority-2, .priority-3 {
    display:none;
  }
  .header__name {
    visibility: hidden;
  }
}
