<header class="header">
  <span class="header__title"
    >BUSCA MARVEL <span class="header__subtitle">TESTE FRONTEND</span></span
  >
  <span class="header__name">LUCAS BASTOS</span>
</header>

<main>
  <!-- <section class="search">
    <input type="text" class="search__input" placeholder="Nome do personagem" />
  </section> -->
  <app-table [characters]="characters"></app-table>
  <footer>
    <div [ngClass]="(page == 0) ? 'limit': ''" class="arrow-left" (click)="previousPage()"></div>
    <button [ngClass]="(page == 0) ? 'selected': ''" class="button" (click)="pagination(0)">1</button>
    <button [ngClass]="(page == 1) ? 'selected': ''" class="button" (click)="pagination(1)">2</button>
    <button [ngClass]="(page == 2) ? 'selected': ''" class="button" (click)="pagination(2)">3</button>
    <button [ngClass]="(page == 3) ? 'selected': ''" class="button priority-2" (click)="pagination(3)">4</button>
    <button [ngClass]="(page == 4) ? 'selected': ''" class="button priority-2" (click)="pagination(4)">5</button>
    <button [ngClass]="(page == 5) ? 'selected': ''" class="button priority-2" (click)="pagination(5)">6</button>
    <div [ngClass]="(page == 5) ? 'limit': ''" class="arrow-right" (click)="nextPage()"></div>
  </footer>
</main>
