<header class="header">
  <span class="header__title">BUSCA MARVEL <span class="header__subtitle">TESTE FRONTEND</span></span>
  <span class="header__name">LUCAS BASTOS</span>
</header>

<main>
<section class="search">
  <input type="text" class="search__input" placeholder="Nome do personagem">
</section>

<table>
  <thead>
    <tr>
      <th>Personagem</th>
      <th>Séries</th>
      <th>Eventos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let personagem of personagens">
      <td>
        <img src="{{personagem.imagem}}" alt="">       
      </td>
      <td>{{personagem.nome}}</td>
      <td>{{personagem.nome}}</td>
    </tr>
  </tbody>
</table>
</main>